<% provide(:title, @user.name) %>
<% if user_signed_in? %>

      <h3>Vencimientos (<%= @user.expirations.count %>)</h3>
      <br>
      <%  @companyExpirations = @user.expirations.sort { |a,b| a.date <=> b.date }
        %>
        <table id="expirations" class="table table-bordered table-striped display well well-large">
        	<thead>
        		<tr>
        			<th>Impuesto</th>
        			<th>Empresa</th>
        			<th>Fecha de Vencimiento</th>
        			<th>Tipo</th>
        			<th>Estado</th>
        			<th>Nivel</th>
        			<th>Acción</th>
        		</tr>
        	</thead>
        	<tbody>
        		<% @companyExpirations.each do |ce| %>
        		<tr>
        			<td><%= ce.associated_tax.tax.name %></td>
        			<td><%= ce.associated_tax.company.name %></td>
        			<td><%= ce.date.to_s(:long) %></td>
        			<td><%= ["Presentación", "Solo Presentación", "Solo Pago"][rand(3)] %></td>
        			<% estado = ["A Vencer", "Vencido", "Cumplido"][rand(3)]
        			if estado == "A Vencer" then @label_type = "label-warning"
        				@icon = "icon-warning-sign"
        			elsif  estado == "Vencido" then @label_type = "label-important" 
        				@icon = "icon-remove"
        			elsif  estado == "Cumplido" then @label_type = "label-success"
        				@icon = "icon-ok"
        			else @label_type = ""	
        				end %>
        				<td><span class="label <%= @label_type %>"><i class="<%= @icon %>"></i> <%= estado %></span></td>
        				<% if ce.level == 1 then @badge_type = "badge-important"
        				elsif  ce.level == 2 then @badge_type = "badge-warning" 
        				elsif  ce.level == 3 then @badge_type = "badge-success"
        				else @badge_type = ""	
        					end %>  
        					<td><span class="badge <%= @badge_type %>"> <%= ce.level %></span></td>
        					<td>
                                <% if estado != "Cumplido" then %>
        						<a href="#presentar" role="button" class="btn btn-small btn-primary" data-toggle="modal">Presentar</a>
                                <% else %>
                                <a href="#detalles" role="button" class="btn btn-small btn-primary" data-toggle="modal">Detalles</a>
                                <% end %>
        					</td>
        				</tr>
        				<% end %>
        			</tbody>    	
        		</table>

                <!-- Modals -->
                <%= render 'presentate' %>
                
<% end %>
