<% provide(:title, @user.name) %>
<% if signed_in? %>
<p class="text-info">Estudio Contable: <strong><%= @user.accounting_entity.name %></strong></p>
<!-- <p id="notice"><%= notice %></p>
 -->
<!-- <p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
 -->
    <% if @user.directExpirations.any? %>
      <h3>Próximos Vencimientos (<%= @user.directExpirations.count %>)</h3>
      <%  @companyExpirations = @user.directExpirations
        %>
        <table class="table table-striped">
		  <tr>
		    <th>Impuesto</th>
		    <th>Empresa</th>
		    <th>Fecha de Vencimiento</th>
		  </tr>

		<% @companyExpirations.each do |ce| %>
		  <tr class="label label-warning">
		    <td><%= ce.associated_tax.tax.name %></td>
		    <td><%= ce.associated_tax.company.name %></td>
		    <td><%= ce.date %></td>
		  </tr>
		<% end %>
		</table>
    <% end %>

<!-- 
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->

<% end %>