<% provide(:title, @user.name) %>
<% if user_signed_in? %>

<div class="row-fluid">
	<div class="span12"/>
</div>
<div class="row">
	<div class="well span12">
      <h3>Vencimientos (<%= @user.expirations.count %>)</h3>

      <%  @companyExpirations = @user.expirations.sort { |a,b| a.date <=> b.date }
        %>
        <table class="table table-striped">
		  <tr>
		    <th>
		    	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            		Impuesto
            		<span class="caret"></span>
            	</button>
            		<!-- dropdown menu links -->
            		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            			<li><a tabindex="-1" href="#">IVA</a></li>
            			<li><a tabindex="-1" href="#">Otro Impuesto</a></li>
            			<li><a tabindex="-1" href="#">Otro Impuesto</a></li>
            			<li class="divider"></li>
            			<li><a tabindex="-1" href="#">Deshacer Filtro</a></li>
            		</ul>
		    </th>
		    <th><button type="button" class="btn btn-primary">Empresa</button></th>
		    <th><button type="button" class="btn btn-primary">Fecha de Vencimiento</button></th>
		    <th><button type="button" class="btn btn-primary">Tipo</button></th>
		    <th><button type="button" class="btn btn-primary">Estado</button></th>
		    <th><button type="button" class="btn btn-primary">Nivel</button></th>
		    <th><button type="button" class="btn btn-primary">Acción</button></th>
		  </tr>

		<% @companyExpirations.each do |ce| %>
		  <tr>
		    <td><%= ce.associated_tax.tax.name %></td>
		    <td><%= ce.associated_tax.company.name %></td>
		    <td><%= ce.date.to_s(:long) %></td>
		    <td><%= ["Presentación", "Solo Presentación", "Solo Pago"][rand(3)] %></td>
		    <% estado = ["A Vencer", "Vencido", "Cumplido"][rand(3)]
		    	if estado == "A Vencer" then @label_type = "label-warning"
		    								 @icon = "icon-warning-sign"
               elsif  estado == "Vencido" then @label_type = "label-important" 
               								   @icon = "icon-remove"
               elsif  estado == "Cumplido" then @label_type = "label-success"
               									@icon = "icon-ok"
               else @label_type = ""	
            end %>
		    <td><span class="label <%= @label_type %>"><i class="<%= @icon %>"></i> <%= estado %></span></td>
		    <% if ce.level == 1 then @badge_type = "badge-important"
               elsif  ce.level == 2 then @badge_type = "badge-warning" 
               elsif  ce.level == 3 then @badge_type = "badge-success"
               else @badge_type = ""	
            end %>  
            <td><span class="badge <%= @badge_type %>"> <%= ce.level %></span></td>
            <td>
            	<button class="btn btn-small btn-success">Presentar</button>
            	<button class="btn btn-small btn-success dropdown-toggle" data-toggle="dropdown">
            		<span class="caret"></span>
            	</button>
            	<ul class="dropdown-menu">
            		<!-- dropdown menu links -->
            	</ul>
            </td>
            </tr>
		<% end %>
		</table>

		<div class="pagination">
			<ul>
				<li><a href="#">Prev</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">Next</a></li>
			</ul>
		</div>
	</div>
</div>
<% end %>
