<h1>Companías</h1>

<table class="table table-bordered">
  <tr>
    <th>Nombre</th>
    <th>CUIT</th>
    <th>Fecha de cierre</th>
    <th>Accounting entity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.CUIT %></td>
    <td><%= company.close_date %></td>
    <td><%= company.accounting_entity_id %></td>
    <td><%= link_to 'Detalles', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
