<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Digito Verificador:</b>
  <%= @company.verificationDigit %>
</p>

<p>
  <b>Close date:</b>
  <%= @company.closeDate %>
</p>

<p>
  <b>Accounting entity:</b>
  <%= @company.accounting_entity_id %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
