<%= form_for(@expiration) do |f| %>
  <% if @expiration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expiration.errors.count, "error") %> prohibited this expiration from being saved:</h2>

      <ul>
      <% @expiration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :endingFirst %><br />
    <%= f.number_field :endingFirst %>
  </div>
  <div class="field">
    <%= f.label :endingLast %><br />
    <%= f.number_field :endingLast %>
  </div>
  <div class="field">
    <%= f.label :tax_id %><br />
    <%= f.number_field :tax_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
