<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @expiration.date %>
</p>

<p>
  <b>ending_first:</b>
  <%= @expiration.ending_first %>
</p>

<p>
  <b>ending_last:</b>
  <%= @expiration.ending_last %>
</p>

<p>
  <b>Tax:</b>
  <%= @expiration.tax_id %>
</p>


<%= link_to 'Edit', edit_expiration_path(@expiration) %> |
<%= link_to 'Back', expirations_path %>
