<h1>Listing taxes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Period</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taxes.each do |tax| %>
  <tr>
    <td><%= tax.name %></td>
    <td><%= tax.period %></td>
    <td><%= tax.category %></td>
    <td><%= link_to 'Show', tax %></td>
    <td><%= link_to 'Edit', edit_tax_path(tax) %></td>
    <td><%= link_to 'Destroy', tax, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tax', new_tax_path %>
