<h1>Impuestos</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Period</th>
    <th>Agency</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taxes.each do |tax| %>
  <tr>
    <td><%= tax.name %></td>
    <td><%= tax.period %></td>
    <td><%= tax.agency.name %></td>
    <td><%= link_to t('app.show'), tax %></td>
    <td><%= link_to t('app.edit'), edit_tax_path(tax) %></td>
    <td><%= link_to t('app.destroy'), tax, method: :delete, data: { confirm: t('app.confirm')} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tax', new_tax_path %>
