<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tax.name %>
</p>

<p>
  <b>Period:</b>
  <%= @tax.period %>
</p>

<p>
  <b>Agency:</b>
  <%= @tax.agency_id %>
</p>


<%= link_to 'Edit', edit_tax_path(@tax) %> |
<%= link_to 'Back', taxes_path %>
