<h1>Listing accounting_entities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounting_entities.each do |accounting_entity| %>
  <tr>
    <td><%= accounting_entity.name %></td>
    <td><%= accounting_entity.description %></td>
    <td><%= link_to 'Show', accounting_entity %></td>
    <td><%= link_to 'Edit', edit_accounting_entity_path(accounting_entity) %></td>
    <td><%= link_to 'Destroy', accounting_entity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accounting entity', new_accounting_entity_path %>
