<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "VencimientosOnline.com", '/static_pages/home', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<% if  user_signed_in? %>
						<li class="dropdown">
						    <a class="dropdown-toggle"
						       data-toggle="dropdown"
						       href="#">
						       <%= current_user.name %> | <%= current_user.accounting_entity.name %>
						        <b class="caret"></b>
						      </a>
						    <ul class="dropdown-menu">
						      <!-- links -->
						      <% if  current_user.has_role? :admin %>
						      	<li><%= link_to "Operar", user_path(:id => current_user.id) %></li>
						      	<li><%= link_to "Administrar", '/admin/home' %></li>
						      <%end%>
						      <li><%= link_to "Salir", destroy_user_session_path, :method => :delete %></li>
						    </ul>
						</li>
					<% else %>
					<div class="nav pull-right">
					<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "navbar-form pull-right form-inline" }) do |f| %>
						<%= f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "span2" %>
					 	<%= f.password_field :password, :placeholder => "Contraseña", :class => "span2" %>
						<%= f.submit "Entrar", :class => "btn"%>
					<% end %>
					</div>
					<% end %>
				</ul>

			<!--/.nav-collapse -->
			</nav>
		</div>
	</div>
</header>