<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "VencimientosOnline.com", '/static_pages/home', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<% if  !current_user==nil || signed_in? %>
						<li class="active"><%= link_to "Home", current_user %></li>
						<li><%= link_to "Vencimientos", '#' %></li>
					    <li class="dropdown">
						    <a class="dropdown-toggle"
						       data-toggle="dropdown"
						       href="#">
						        Presentaciones
						        <b class="caret"></b>
						      </a>
						    <ul class="dropdown-menu">
						      <!-- links -->
						      <li><%= link_to "Cargar" %></li>
						      <li><%= link_to "Ver" %></li>
						    </ul>
						</li>
						<li class="dropdown">
						    <a class="dropdown-toggle"
						       data-toggle="dropdown"
						       href="#">
						        <b class="caret"></b>
						      </a>
						    <ul class="dropdown-menu">
						      <!-- links -->
						      <li><%= link_to "Salir", signout_path, method: "delete" %></li>
						    </ul>
						</li>
					<% else %>
						<div class="nav pull-right">
							<form class="navbar-form pull-right form-inline" accept-charset="UTF-8" action="/sessions" method="post">
								<input class="span2" type="text" placeholder="Email" id="session_email" name="session[email]">
								<input class="span2" type="password" placeholder="Contraseña" id="session_password" name="session[password]">
								<button type="submit" class="btn" name="commit" value="Sign in">Entrar</button>
								<!--%= link_to "Registrarse", '#', class: "btn" %-->
							</form>
						</div>
					<% end %>
				</ul>

			<!--/.nav-collapse -->
			</nav>
		</div>
	</div>
</header>
